@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div id="header">
            <h1>
                @Model.SurveyName  
                </h1>
        </div>

          <div id="infobox">
        <div id="surveyno">
            <span class="boldlabel">Survey #:</span> <span>
                @Model.SurveyNumber</span></div>
        <div id="orgn">
            <span class="boldlabel">Organization:</span> <span>
                @Model.OrganizationName</span></div>
        <div id="dept">
            <span class="boldlabel">Department:</span> <span>
                @Model.DepartmentName</span></div>
        <div style="clear: both;">
        </div>
    </div>
<div class="success">
    <img src="../../Content/images/button_check.png" style="vertical-align: middle; padding-right: 10px;">
    @if(string.IsNullOrWhiteSpace(Model.ExitText)) 
    {
        @Epi.Web.MVC.Constants.Constant.SURVEY_SUBMISSION_MESSAGE;
    } 
    else 
    {
        @Model.ExitText;
    }
</div>
@using (Html.BeginForm())
       { 
        @Html.AntiForgeryToken()  
            <div id="content">
               @if (Model.ClosingDate.Date >= DateTime.Now.Date && Model.SurveyType == 2)
               
               {
                     
                        <p>
                            <button id="beginsurvey" class="begin green" type="submit">
                               Start Survey Again</button>

                        </p>
                        <p style="text-align:center; font-size:9pt;">Survey Closing Date: @string.Format("{0:dddd, MMMM d, yyyy}", Model.ClosingDate)</p>
               }
               
              
                
           </div>
               
     }